<footer class="footer t-center">
  <div class="container">

    <div class="social-icons">
      <ul class="text-left">
        <li><a href="{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>

    <small>
      <em><a href="{{ site.baseurl }}/">{{ site.title }}</a> &bull; {{ site.description }} - by <a href="{{ site.author.url }}" target="_blank">{{ site.author.name }}</a></em>
    </small>
  </div>
</footer>
