
// Google fonts api
@import url(//fonts.googleapis.com/css?family=Lato:400,300,400italic,700);
@import url(//fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

// Our variables
$font-family-base  : 'Lato', Helvetica, Arial, sans-serif;
$font-family-serif : 'Lora', serif;
$small-font-size   : 16px * 0.875;

$spacing-unit : 30px;

$text-color       : #303030;
$brand-color      : #58c93a;
$background-color : #f1f1f1;
$primary-color    : $brand-color;
$bg-color         : #ebebeb;

$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);

// Width of the content area
$content-width:    800px;
$on-laptop:        $content-width;
$on-palm:          560px;
$on-phone:         480px;
